
body{
   background-color: white;
    margin: 0;
    

}
.try{
    padding: 0%;
}
#whole{
    background-image: url(img/eaglebackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    bottom: 1000px;
}
#start{
    margin: 0;
    

}
.row,img{
    opacity: 0.9;
      
}
.card{
    border: ridge green;
}
.gitna,center{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white !important;
}
a{
    color: white;
    text-transform: uppercase;
}
#sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #11901f !important;
}
/*.logo{
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav,ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
nav,li{
    text-transform: capitalize;
    color: white;
    display: inline-block;
    margin-left: 10px;
    padding-top: 20px;
}
nav a{
    text-transform: capitalize;
    color: #444;
}*/


#explore{
    text-align: center;
    margin-bottom: 100px;
    font-size: 100px;
    color: #e8641b;
    font-family: 'Acme', sans-serif;
    font-family: 'Catamaran', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Tangerine', cursive;
    
    
}




